@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>About Me</h1><br />

    <h4>EMAIL</h4>
    <p>carlosvincent.vega.cics@ust.edu.ph</p><br />
   
    <h4>ROLE</h4>
    <p>Student</p><br />
    
    <h4>PHONE</h4>
    <p>(+63)09560560714</p><br />
    <img src ="/img/xx.jpg">
    
      
    
}
